{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
    <h3>
        Instructions
    </h3>

    <p>
        In this study, you will be in a randomly formed group
        of 3 participants. Each participant in
        the group is given either 50, 75, or 100 points. The group
        has the opportunity to undertake a joint project. Each participant in
        the group decides how much she or he is going to contribute to
        the project. Contribution could be any integer from 0
        to their total amount of points.
    </p>
    <p>
        The earnings from the project are calculated as follows: The
        contributions of all of the participants are
        added up, the total contribution
        is multiplied by a factor of two, and the
        resulting amount is the total earnings from the project, which is
        evenly split among all of the participants. Your payoff equals your earnings from the project, plus
        the amount you did not contribute.
    </p>
    </div>
</div>

