{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
    <h3>
        Instructions
    </h3>

    <p>
	In this study, you will be in a randomly formed group of 3 participants, some of which may be
	robots. You have been given 100 points, but the other two players only have 50 points each.
	A point is equal to .01 cents. The group has the opportunity to undertake a joint project.
	Each participant in the group decides how much they are going to contribute to the project.
	Contribution could be any integer from 0 to their total amount of points.
	<br>
	The earnings from the project are calculated as follows: The contributions of all of the
	participants are added up, the total contribution is multiplied by two, and the resulting
	amount is the total earnings from the project. These total earnings are evenly split among all
	of the participants. Your payoff equals your earnings from the project, plus the amount you
	did not contribute. Remember that how many points you end up with will affect your bonus
	payment.
    </p>
    </div>
</div>

