{% load otree %}

<div class="card bg-light instructions">
<div class="card-body">
    <h3>
        Instructions
    </h3>

    <p>

	Thank you for agreeing to participate.
	You will be paired randomly and anonymously with another participant. In this study, one of
	you will be Participant 1 and the other Participant 2. Prior to making a decision, you will learn
	your role, which will be randomly assigned.
	There are 100 points to split. Participant 1 will decide how much they will retain while the rest
	will go to Participant 2; the number of points you keep affects your bonus payment, while
	the number you give away can impact the other participant’s payout.

    </p>
</div>
</div>
